<!DOCTYPE html>
<!-- Tells the browser you are using the latest HTML version in this file. -->
<html lang="en">
  <!-- Starts the file. Tells the browser the page's default language is English. -->

  <head>
    <!-- Tells the browser some important information about your file. -->
    <meta charset="UTF-8">
    <!-- Tells the browser to use the UTF-8 character encoding so that foreign characters and emojis display correctly. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tells phones to not zoom in on the web page by default. Users can zoom in and out with their fingers. -->
    <!-- The above 2 meta tags *must* come first in the <head> to consistently ensure proper document rendering. Any other head element should come *after* these tags. -->
    <title>Page Title</title> <!-- Gives the web page a title. -->
    <link rel="stylesheet" href="style.css"> <!-- Tells the browser the location of our style sheet. -->
  </head> <!-- That's enough file information. -->

  <body>
    <!-- Begins the visible part of the web page. -->
    <nav>
      <!-- Begins a navigation menu. -->
      <ul>
        <!-- Makes a list of menu items. -->
        <li><a href="about.html">About</a> <!-- Makes a link to a page with the filename 'about.html'. -->
        </li> <!-- Menu item. -->
        <li><a href="fanfiction-menu.html">Fanfictions</a> <!-- Makes a link to a page with the filename 'fanfiction-menu.html'. -->
        </li> <!-- Menu item. -->
        <li><a href="index.html">Home</a> <!-- Makes a link to the home page, 'index.html'. -->
        </li> <!-- Menu item. -->
      </ul> <!-- Ends the list. -->
    </nav> <!-- Ends the navigation menu. -->
    <h1>About Me!</h1> <!-- Site name or page title. Cand be whatever you want! -->
    <p>This section of the site is about you! Tell the whole world as much (or as little) about yourself as you want!</p> <!-- Paragraph. -->
    <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz
      whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim.</p> <!-- Another paragraph. -->

  </body> <!-- Stops the visible part of the website here. -->

</html> <!-- Tells the browser the file ends here. -->